<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.css}">
    <script th:src="@{/jquery/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div th:insert="default/fragment::nav"></div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">bDay</th>
        <th scope="col">phone</th>
        <th scope="col">aid</th>
        <th scope="col">province</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
    </tr>

    </tbody>
</table>

</body>
</html>