<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/css/mdb.min.css}">
  <script th:src="@{/jquery/jquery-3.7.0.min.js}"></script>
  <script th:src="@{/js/mdb.min.js}"></script>
</head>
<body>
<section class="vh-100" style="background-color: #9de2ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img th:src="@{/file/getf/{id}(id=student.s_id)}"
                     alt="Generic placeholder image" class="img-fluid"
                     style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3">
                <p th:text="${student.name}"></p>
                <p th:text="${student.phone}"></p>
                <p th:text="${student.aid}"></p>
                <p th:text="${student.birthDay}"></p>
                  <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                  <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>